<h2 class="text-center mb-4">Login</h2>
<div class="auto-form-wrapper">
    <form action="#">
      <div class="form-group">
        <label class="label">Username</label>
        <div class="input-group">
          <input type="text" name="email" class="form-control" [(ngModel)]="email" placeholder="email">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="mdi mdi-check-circle-outline"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="label">Password</label>
        <div class="input-group">
          <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="*********">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="mdi mdi-check-circle-outline"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary submit-btn btn-block" (click)="login()">Login</button>
      </div>
     
     
      <div class="text-block text-center my-3">
        <span class="text-small font-weight-semibold">Not a member ?</span>
        <a [routerLink]="['/account/register']" class="text-black text-small">Create new account</a>
      </div>
    </form>
  </div>